<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ElectriTrackerServiceAddress" value="http://oppdev01.cloudapp.net:49003/"/>
    <add key="Intreaba" value="false"/>
  </appSettings>
  </configuration>
  